// Color
$main-color: #0b0b22;
$preloader-color: #060618;
$preloader-color-light: #1d2140;
$footer-color: #040318;
$text-color: #fff;
$button-color: #6ab842;


// Media
$breakpoint-345: 345;
$breakpoint-414: 414;
$breakpoint-laptop: 992;
$breakpoint-desktop: 1200;